.button {
  display: inline-block;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 10px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button + .button {
  margin-left: 16px;
}

.button-all {
  padding-right: 44px;
  background-image: url("/../images/arrow.svg");
  filter: hue-rotate(180deg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center right 20px;
}

.button:hover,
.footer-social-link:hover {
  background-color: #814b18;
}

.button:focus,
.footer-social-link:hover {
  outline: 2px solid #dbb590;
  background-color: #4e2e0e;
}

.button:disabled {
  color: #e7e7e7;
  background-color: #595959;
}

.button:disabled:hover {
  background-color: #595959;
  outline: none;
  cursor: default;
}

/* Light */
.button-feedback {
  color: #242424;
  background-color: #ffffff;
}

.button-feedback:hover {
  background-color: #dbb590;
}

.button-feedback:focus {
  outline: 2px solid #af7842;
  background-color: #dbb590;
}

.button-light {
  background-color: #ffffff;
}
