.contacts {
  width: 350px;
  font-weight: 700;
}

.contacts-title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contacts-subtitle {
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #af7842;
}

.contacts-navigation {
  margin-top: 21px;
  margin-bottom: 0;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 20px;
}

.contacts-address-text {
  margin: 8px 0;
}

.contacts-phone {
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #242424;
}

.contacts-schedule {
  margin-bottom: 36px;
  padding: 0;
  list-style-type: none;
}

.contacts-schedule-item {
}

.button {
}

.button-feedback {
}
