// .newsletter {
// }

.newsletter-form {
  display: flex;
}

.newsletter-button {
  width: 56px;
  height: 44px;
  background-image: url("/../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.newsletter-email {
  flex-grow: 1;
  margin: 0;
}

.newsletter-email .field {
  width: 192px;
}
