.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: #242424;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #af7842;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #242424;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #dbb590;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #dbb590;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
